<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About ProSyn3</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
  <body>
    <h1> About Prosyn3 </h1>
    <p> This application was developped by the ProSyn3 Team Using Neural network.  
      Members of team : Amardeep, Hilaire, Jian and Mahmadou</p>
      <form action="https://www.bdeb.qc.ca/le-college/nous-joindre/">
   <input type="submit" value="For more Info" />
</form>
    
     <h1> What are Emotions? </h1>
  
    <p>
    <img src = "https://img.pngio.com/png-emotions-faces-transparent-emotions-facespng-images-pluspng-emotions-png-600_564.png"
         alt = "Picture of a happy monkey" />
   
     {% endblock %}
  </body>

</html>



